<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >
    <head th:replace="layout/template :: head">
        <title>Inicio</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace="layout/template :: header" ></header>
        
        <section th:replace="layout/addButtons :: addButtons"></section>
        <section th:replace="layout/addPerson :: addPerson"></section>
        
        <!--<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/addPerson}" th:text="#{person.create}">Crear Persona</a>-->
        
       
        <section th:replace="layout/listPeople :: listPeople"></section>
        
        <footer th:replace="layout/template :: footer" ></footer>
    </body>
</html>
